{%  extends  'dashboard/base.html' %}
{% load static %}

{% block incomeform %}
{% endblock incomeform %}

{%block pagetitle %}
Change Password
{% endblock pagetitle %}

{% block pagination %}
<li class="breadcrumb-item"><a href="{% url 'change.password' %}">Change Password</a></li>
{% endblock pagination %}

{% block  date_query %}
<div class="row">
    <div class="col-8 justify-content-center">

        <div class="card ">
            <div class="card-body" >
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-8 align-self-center">
                            <div class="form-group">
                                
                                <label for="account-old-password">Old Password</label>
                                <div class="input-group form-password-toggle input-group-merge">
                                    <input type="password" class="form-control"
                                           id="account-old-password" name="old_password"
                                           placeholder="Old Password" required/>
                                </div>
                                <small class="text-danger">{{ password_change_form.old_password.errors }}</small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="form-group">
                                <label for="account-new-password">New Password</label>
                                <div class="input-group form-password-toggle input-group-merge">
                                    <input type="password" id="account-new-password"
                                           name="new_password1"
                                           class="form-control" placeholder="New Password" required/>
                                </div>
                                <small class="text-danger">{{ password_change_form.new_password1.errors }}</small>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="form-group">
                                <label for="account-retype-new-password">Retype New Password</label>
                                <div class="input-group form-password-toggle input-group-merge">
                                    <input type="password" class="form-control"
                                           id="account-retype-new-password" name="new_password2"
                                           placeholder="New Password" required/>
                                </div>
                                <small class="text-danger">{{ password_change_form.new_password2.errors }}</small>
                            </div>
                        </div>
                        <div class="col-8">
                            <ul class="pl-3">
                                <li>Your password can’t be too similar to your other personal
                                    information.
                                </li>
                                <li>Your password must contain at least 8 characters.</li>
                                <li>Your password can’t be a commonly used password.</li>
                                <li>Your password can’t be entirely numeric.</li>
                            </ul>
                        </div>
                    </div>
                    <button class="btn btn-block btn-primary">Update Password</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock date_query %}
{% block js_script %}
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
{% endblock js_script %}