DEBUG=

SECRET_KEY=

DB_NAME=
DB_HOST=
DB_PORT=
DB_USER=
DB_PASS=

EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST_AUTH_METHOD=
PGDATA=

PGADMIN_DISABLE_POSTFIX=

REDIS=
REDIS_PORT=

OTP_SECRET_KEY=
SMS_TOKEN=